# Ignore Python bytecode files
__pycache__
*.pyc
*.pyo
*.pyd
*.pyc.so

# Ignore all log files
*.log

# Ignore local configuration files
local_settings.py

# Ignore test and coverage directories
htmlcov/
.coverage
.tox/

# Ignore database files
*.sqlite3

# Ignore media files
media/

# Ignore all .env files
*.env

# Ignore all .DS_Store files (Mac OS)
.DS_Store

.venv/