<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock title %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

</head>
<body>
    <nav class="p-4">
        <!-- Navigation goes here -->
    </nav>

    <main>
        {% block content %}
        <!-- Default content goes here -->
        {% endblock content %}
    </main>

    <footer class="p-4">
        <!-- Footer goes here -->
    </footer>
</body>
</html>