<h1>Editing member</h1>

<br>

<%= render "form", member: @member %>

<br>

<div>
  <%= link_to "Show this member", @member, class:"btn btn-secondary" %> |
  <%= link_to "Back to members", members_path, class:"btn btn-black" %>
</div>
