name: Install script

on:
  release:
    types: [published]
  push:
    branches:
      - "**"
    paths:
      - '.github/workflows/install.yml'
      - 'src/bin/install'

jobs:
  install:
    runs-on: ubuntu-latest

    steps:
      - name: Install defang (latest)
        run: eval "$(curl -Ls https://s.defang.io/install)"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }} # avoid rate limiting

      - name: Sanity check
        run: defang --version

      - name: Install defang (specific version)
        run: eval "$(curl -Ls https://s.defang.io/install)"
        env:
          DEFANG_INSTALL_VERSION: v0.5.36
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # alt name

      - name: Sanity check
        run: defang --version
