name: Smoke Tests

on:
  push:
    branches:
      - main

permissions:
  id-token: write

jobs:
  trigger-smoketests:
    name: Trigger CLI Smoke Tests
    runs-on: ubuntu-latest
    concurrency:
      group: smoketests-${{ github.ref }}
      cancel-in-progress: false

    steps:
      - name: Trigger Workflow
        uses: actions/github-script@v7
        with:
          script: |
            await github.rest.actions.createWorkflowDispatch({
              owner: 'DefangLabs',
              repo: 'defang-mvp',
              workflow_id: 'cli-smoketests.yml',
              ref: 'main',
              inputs: {
                'sample-name': 'html-css-js-sample'
              }
            });
